<table border=1 cellspacing=0 style="font-size:20px;">
    <tr>
    <th>Book Name</th>
    <th>Author Name</th>
    <th>Price</th>
    </tr>
    <% if(data.length){
            for(var i=0;i<data.length;i++){ %>
    <tr>
    <td><%=data[i].bname%></td>
    <td><%=data[i].aname%></td>
    <td><%=data[i].price%></td>
    
    </tr>
        <% }
        }
    else
    {%>
    <tr>
    <td>---</td>
    <td>---</td>
    <td>---</td>
    </tr>
    <% }  %>
    </table>
    <br>        
            <a href="/">Home</a>
        